     
 <mat-card class="my-card">
    <mat-card-title>Update Employee</mat-card-title>
    <mat-card-content>
        <form class="my-form"  [formGroup]="updateForm" (ngSubmit)="updateEmployee()">
          
            <mat-form-field class="full-width">
                  <mat-label>Id</mat-label>
                  
                  <input type="number" matInput placeholder="id" formControlName="id" required>
                  <p style="color: red;" *ngIf="hasError('id','required')"> id required</p>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput placeholder="Name" formControlName="name" required>
                  <p style="color: red;" *ngIf="hasError('name','required')"> name required</p>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Title</mat-label>
                  <input type="text" matInput placeholder="Title" formControlName="title" required > 
                  <p style="color: red;" *ngIf="hasError('title','required')"> Title required</p>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Deparment</mat-label>
                  <input type="text" matInput placeholder="Department" formControlName="dept" required>
                  <p style="color: red;" *ngIf="hasError('dept','required')"> department required</p>
               </mat-form-field>
              
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="updateEmployee()" color="primary">submit</button>
      </mat-card-actions>
 </mat-card>
